.main{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

}

@media screen and (max-width: 450px) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.map_div{
  width: 100%;
}
}
a{
  color:  #9FBB72;
}
h2 {
  color: white;
}
img{

  height: 5vh;
}



/* .App {
  display: flex;
  flex-direction: column;
} */
