body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  widht: 30px;
  height: 30px;
}
.restaurant_image{
  width: 50px;
  height: 50px;
}
#user_img{
  border-radius: 50%;
  height: 40px;
  width: 40px
}
.modal1 {
  position: fixed;
  z-index: 1;
  width: 20%;
  height: 40%;
  background-color: white;
}
.modal1 {
  position: fixed;
  z-index: 1;
  width: 50%;
  height: 40%;
  background-color: white;
}
.close{
  float: right;
}
