.modal1 {
  position: fixed;

  width:20vw ;
  height: 40vh;
  position: center;
  z-index: 1;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 0px 50px rgba(0, 0, 0, 0.5);
}
.close{
  float: right;
  background-color:  #C9E265;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.form {
  position: absolute;
  height:80%;
  width: 80%;

}
input[type=text] {
  width: 80%;
}
