#restaurants_reviews{
  position: absolute;
  height: 80vh;
  width: 25vw;
  overflow-y: scroll;
  padding-left: 8px;

}
.filter{
  padding-bottom: 30px;
  padding-left: 8px;
}
.restaurants_div{
  height: 80vh;
  width: 25vw;
}
